.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px;

    &__title {
        margin: 0 0 40px;
    }

    &__canvas {
        background-color: rgba(gray, 0.2);
        border: 1px black solid;
        cursor: pointer;
    }
}
